controller:
  image: "jenkins/jenkins"
  tag: "2.299-jdk11"
  numExecutors: 1
  executorMode: EXCLUSIVE
  jenkinsAdminEmail: "admin@example.com"
  jenkinsUrl: "http://localhost:8080"
  JCasC:
    securityRealm: |
      oic:
        clientId: "${oidc-config-okta-client-id}"
        clientSecret: "${oidc-config-okta-client-secret}"
        authorizationServerUrl: "https://${oidc-config-okta-org-name}.okta.com/oauth2/default/v1/authorize"
        tokenServerUrl: "https://${oidc-config-okta-org-name}.okta.com/oauth2/default/v1/token"
        userInfoServerUrl: "https://${oidc-config-okta-org-name}.okta.com/oauth2/default/v1/userinfo"
        scopes: "openid email profile groups"
        userNameField: "email"
        fullNameFieldName: "name"
        emailFieldName: "email"
        groupsFieldName: "groups"
        disableSslVerification: false
        escapeHatchEnabled: true
        escapeHatchGroup: "admin"
        escapeHatchUsername: "${chart-admin-username}"
        escapeHatchSecret: "${chart-admin-password}"
        logoutFromOpenidProvider: false
    configScripts:
      authorization: |
        jenkins:
          authorizationStrategy:
            projectMatrix:
              permissions:
              - "Overall/Administer:admin"
              - "Overall/Administer:jenkins-admins"
              - "Overall/Read:jenkins-users"
              - "Job/Build:jenkins-users"
              - "Job/Cancel:jenkins-users"
              - "Job/Discover:jenkins-users"
              - "Job/Read:jenkins-users"
              - "View/Read:jenkins-users"
        security:
          queueItemAuthenticator:
            authenticators:
              - global:
                  strategy: "triggeringUsersAuthorizationStrategy"
      jgit: |
        tool:
          git:
            installations:
              - name: "jgit"
      seed-job: |
        jobs:
          - script: >
              job('seedJob') {
                displayName('Seed Job')
                description('Clone jobs from Git repository')
                label('master')
                scm {
                  git {
                    remote {
                      credentials('jenkins-easy')
                      url('git@github.com:oofnikj/jenkins-easy.git')
                    }
                  }
                }
                steps {
                  jobDsl {
                    targets('jobs/**/job.dsl')
                  }
                }
                properties {
                  authorizeProjectProperty {
                    strategy {
                      systemAuthorizationStrategy()
                    }
                  }
                }
                triggers {
                  pollSCM {
                    scmpoll_spec('H/4 * * * *')
                  }
                }
              }
  additionalPlugins:
    - 'credentials-binding:1.26' # version incompatibility
    - 'pipeline-model-api:1.8.5' # version incompatibility
    - 'junit:1.50' # version incompatibility
    - 'pipeline-model-definition:1.8.5' # security vulnerability
    - 'lockable-resources:2.11' # security vulnerability
    - 'workflow-cps-global-lib:2.21' # security vulnerability
    - 'authorize-project:1.4.0'
    - 'oic-auth:1.8'
    - 'matrix-auth:2.6.7'
    - 'job-dsl:1.77'
    - 'workflow-multibranch:2.26'
    - 'kubernetes-credentials-provider:0.20'
    - 'ansicolor:latest'
    - 'timestamper:latest'
  additionalExistingSecrets:
  - name: oidc-config
    keyName: okta-org-name
  - name: oidc-config
    keyName: okta-client-id
  - name: oidc-config
    keyName: okta-client-secret
rbac:
  readSecrets: true
