---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jenkins
  namespace: jenkins
spec:
  interval: 5m
  chart:
    spec:
      chart: jenkins
      version: "3.0.2"
      sourceRef:
        kind: HelmRepository
        name: jenkins
  valuesFrom:
    - kind: configMap
      name: jenkins-values
      namespace: jenkins
