---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jenkins
resources:
  - namespace.yaml
  - helm-repo.yaml
  # - jenkins-easy.pem.enc.yaml
  - okta-oidc.enc.yaml
  - helm-release.yaml

configMapGenerator:
  - name: jenkins-values
    files:
      - config/values.yaml

generatorOptions:
  disableNameSuffixHash: true
