---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jenkins
resources:
  - okta-oidc.yaml

secretGenerator:
  - name: jenkins-easy
    literals:
      - username=git
    files:
      - privateKey=jenkins-easy.pem
    options:
      labels:
        "jenkins.io/credentials-type": "basicSSHUserPrivateKey"
      annotations:
        "jenkins.io/credentials-description": "jenkins-easy repository SSH key"

generatorOptions:
  disableNameSuffixHash: true